$mont: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;

html {
    font-size: 14px;
}

html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-image: linear-gradient(to bottom right, #155799, #159957);
    font-family: $lato;
    color:#fff;
}

#root {
    display:flex;
    justify-content: center;
    align-items: center;
}

.but {
    font-family: $mont;
    background:rgba(255,255,255,0.3);
    border:0.1rem solid #eee;
    padding:1rem;
    margin:1rem;
    color:#eee;
    text-transform: uppercase;
    cursor:pointer;
    transition:all 0.3s;
    &:hover {
        background:#fff;
        color:#000;
    }
}

a {
    color:#fff;
    &:hover {
        text-shadow: 1px 1px #000;
    }
}

.loginPage {
    .wrapper {
        display:block;
        text-align: center;
        &.signout {
            padding:2rem;
        }
    }
    .logo {
        width:auto;
        max-width: 20rem;
    }
    form {
        text-align: center;
        display: block;
        width:20rem;
        
        padding:2rem;
        input {
            padding:1rem;
            width:80%;
            margin:1rem;
            background:rgba(255,255,255,0.2);
            border:none;
            color:#fff;
            &::placeholder {
                color:#ccc;
            }
        }
        button {
            display:inline-block;
            width:90%;            
        }
    }
    .firebaseui-card-content {
        padding:0!important;
        form {
            padding:0!important;
        }
    }
}